<% (@jifs.shuffle + [nil]).each_slice(6) do |jifs_row|  %>
  <div class="row">
    <% jifs_row.each do |jif| %>
      <% if !jif then%>
        <div class="col-md-2 nopadding">
          <a href="<%= new_jif_path %>">
            <%= image_tag "https://placeholdit.imgix.net/~text?txtsize=33&txt=Add%20more!&w=200&h=200" %>
          </a>
        </div>
      <% else %>
        <div class="col-md-2 nopadding">
          <%= image_tag jif.image.url(:mosaic) %>
        </div>
      <% end%>
    <% end %>
  </div>
<% end %>
