<!DOCTYPE html>
<html>
<head>
  <title>JifMosaic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="refresh" content="60" />
</head>
<body>
  <h1 id="addr"><h1>
  <div class="container">
    <%= yield %>
  </div>
</body>
<script>
  document.getElementById('addr').textContent = document.location;
</script>
</html>
